.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-section{
    padding: 20px;
}
.searchBox {
    width: 500px;
    height: 30px;
    border: 1px solid black;
}
.searchBox::placeholder {
    font-size: 1.2em;
    font-family: sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
